.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-list{
  border: black;
  list-style: none;
  padding-left: 25%;
  padding-right: 25%;
  width: 350px;
  height: 200px;
  vertical-align:middle;
  text-align:  left;
}
.w3-image{
  text-align:  left;
  max-width:200%;
  height:auto;
}
a{
  color:inherit
}
.App-container {

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
